{
  "openapi": "3.0.3",
  "info": {
    "version": "2.6.0",
    "title": "Moneris API",
    "description": "Moneris API Platform\n\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height:32px;\">](https://god.gw.postman.com/run-collection/25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8?action=collection%2Ffork&collection-url=entityId%3D25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)",
    "termsOfService": "https://www.moneris.com/en/legal/terms-of-use",
    "contact": {
      "url": "https://api-developer.moneris.com",
      "email": "UnifiedAPI@moneris.com"
    },
    "license": {
      "name": "Moneris",
      "url": "https://developer.moneris.com/Agreements/Terms%20of%20Use"
    },
    "x-audience": "external-public"
  },
  "servers": [
    {
      "url": "https://api.sb.moneris.io",
      "description": "Sandbox server (uses test data)",
      "x-internal": false
    },
    {
      "url": "https://api.moneris.io",
      "description": "Production server (uses live data)",
      "x-internal": false
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Perform and Manage payments"
    },
    {
      "name": "Payment Methods",
      "description": "Create and Manage payment methods"
    },
    {
      "name": "Refunds",
      "description": "Perform and Manage payment refunds"
    },
    {
      "name": "Validations",
      "description": "Perform and Manage card validations"
    },
    {
      "name": "Customers",
      "description": "Perform and Manage customers"
    },
    {
      "name": "3D Secure",
      "description": "Perform 3D Secure authentications against payment methods"
    },
    {
      "name": "Kount",
      "description": "Perform and Manage Kount risk assessment inquiries"
    },
    {
      "name": "Subscriptions",
      "description": "Perform and Manage Subscriptions"
    },
    {
      "name": "Installments",
      "description": "Perform and Manage Installments"
    },
    {
      "name": "Multi-Currency Pricing Rate Lookup",
      "description": "Retrieve Multi-Currency Pricing Rate Lookups"
    },
    {
      "name": "Merchant Onboarding",
      "description": "Manage Merchants onboarding"
    },
    {
      "name": "Terminal & Service Orders",
      "description": "Manage Moneris Terminal & Service Orders"
    },
    {
      "name": "Products",
      "description": "Product recommendations"
    },
    {
      "name": "Disputes",
      "description": "Perform and Manage Disputes"
    },
    {
      "name": "Events",
      "description": "Receive events in near real-time concerning your Moneris API resources."
    }
  ],
  "paths": {
    "/payments": {
      "parameters": [
        {
          "in": "header",
          "name": "Api-Version",
          "required": true,
          "example": "2024-09-17",
          "description": "The endpoint's API Version. \n\nMust be provided through the headers section. \n",
          "schema": {
            "description": "The endpoint's API Version.  Must be provided through headers.\n",
            "type": "string",
            "example": "2025-08-14",
            "default": "2025-08-14"
          }
        },
        {
          "in": "header",
          "name": "X-Correlation-Id",
          "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4",
          "description": "Correlates a series of requests within the same flow.\n\nNote: This ID is generated by Moneris with every request or response, if it doesn't exist. \nMerchants are to echo back the value with every request that is part of the call flow.\"\n",
          "required": false,
          "schema": {
            "type": "string",
            "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4"
          }
        },
        {
          "in": "header",
          "name": "X-Merchant-Id",
          "example": "0123456789101",
          "description": "Thirteen character identification code. \n\nNote: This code is provided by Moneris and is required to identify the Merchant executing the transaction.\"\n",
          "required": true,
          "schema": {
            "type": "string",
            "description": "Thirteen character long identification provided to merchants by Moneris. \n",
            "minLength": 13,
            "maxLength": 13,
            "example": "0123456789101"
          }
        }
      ],
      "get": {
        "summary": "List Payments",
        "description": "Returns a paginated list of payments.",
        "operationId": "getPayments",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "description": "Pagination cursor to return items located after it.",
            "required": false,
            "example": "d41d8cd98f00b204e9800998ecf8427e",
            "schema": {
              "type": "string",
              "example": "d41d8cd98f00b204e9800998ecf8427e"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of items to return in the response.",
            "example": 10,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 20,
              "example": 10
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "description": "Returns items created after the specified date, defaults to the current date starting from 12 AM.",
            "required": false,
            "example": "2024-05-16T04:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2019-07-30T06:43:40.252Z",
              "description": "Date & Time"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "description": "Returns items created before the specified date, up to one day earlier. \n\nDefaults to current date and time, must be no more than 1 day later than `created_from` date. \n",
            "required": false,
            "example": "2024-05-16T04:00:00Z",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2019-07-30T06:43:40.252Z",
              "description": "Date & Time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all payments",
            "headers": {
              "Api-Version": {
                "description": "The endpoint's API Version.",
                "example": "2025-08-14",
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-Id": {
                "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4",
                "description": "Correlates a series of requests within the same flow. \n\nNote: This ID is generated by Moneris with every request or response, if it doesn't exist, and the Merchant is recommended to echo back the value.\"  \n",
                "schema": {
                  "type": "string",
                  "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4"
                }
              },
              "Sunset": {
                "example": "2025-07-30T06:43:40.252Z",
                "description": "Optional.\n\nIndicates that the resource URI will be decommissioned, and put out of service at the specified point in the future. \nMore details are available at [RFC 8594](https://www.rfc-editor.org/rfc/rfc8594.html)\n",
                "schema": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-07-30T06:43:40.252Z"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the client can make in this window.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "example": 1000
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "example": 0
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "paymentList",
                  "type": "object",
                  "description": "Response body, returns a paginated list of payments",
                  "properties": {
                    "data": {
                      "description": "Payments list.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "payment",
                        "description": "Returns a processed payment",
                        "properties": {
                          "paymentId": {
                            "type": "string",
                            "description": "Unique Identification for the Payment",
                            "pattern": "^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$",
                            "minLength": 30,
                            "maxLength": 30,
                            "example": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                          },
                          "merchantId": {
                            "type": "string",
                            "description": "Thirteen character long identification provided to merchants by Moneris. \n",
                            "minLength": 13,
                            "maxLength": 13,
                            "example": "0123456789101"
                          },
                          "orderId": {
                            "type": "string",
                            "description": "Indicates the merchant-defined transaction identifer or order ID. Identifiers are unique for every Purchase, Pre-Authorization and Independent Refund transaction\n\n**Note**: No two transactions of these types may have the same order ID. Field only accepts alphanumerical characters, dashes and underscores.\n",
                            "minLength": 1,
                            "maxLength": 50,
                            "example": "1q2w3e4r5t6t78",
                            "pattern": "^[a-zA-Z0-9-_]+$",
                            "nullable": true
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Submits a unique value to identify a transaction that is logged by Moneris Solutions.\n",
                            "minLength": 1,
                            "maxLength": 17,
                            "example": "1a2s3d45v6",
                            "nullable": true
                          },
                          "transactionDateTime": {
                            "description": "Indicates the date and time of the transaction.",
                            "type": "string",
                            "format": "date-time",
                            "example": "2019-07-30T06:43:40.252Z"
                          },
                          "createdAt": {
                            "description": "Time at which the object was created",
                            "type": "string",
                            "format": "date-time",
                            "example": "2019-07-30T06:43:40.252Z"
                          },
                          "modifiedAt": {
                            "nullable": true,
                            "description": "Time at which the object was modified",
                            "type": "string",
                            "format": "date-time",
                            "example": "2019-07-30T06:43:40.252Z"
                          },
                          "amount": {
                            "description": "This amount excludes surcharge, application and convenience fee.",
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0,
                                "maximum": 999999999,
                                "example": 10000,
                                "description": "Amount"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                "minLength": 3,
                                "maxLength": 4,
                                "example": "CAD",
                                "format": "iso-4217"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "example": {
                              "amount": 16000,
                              "currency": "CAD"
                            }
                          },
                          "authorizedAmount": {
                            "description": "This represents the funds that are held by the authorization on the payment method.",
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0,
                                "maximum": 999999999,
                                "example": 10000,
                                "description": "Amount"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                "minLength": 3,
                                "maxLength": 4,
                                "example": "CAD",
                                "format": "iso-4217"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "example": {
                              "amount": 16000,
                              "currency": "CAD"
                            }
                          },
                          "capturableAmount": {
                            "description": "Remaining amount that can still be captured.",
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0,
                                "maximum": 999999999,
                                "example": 10000,
                                "description": "Amount"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                "minLength": 3,
                                "maxLength": 4,
                                "example": "CAD",
                                "format": "iso-4217"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "example": {
                              "amount": 16000,
                              "currency": "CAD"
                            }
                          },
                          "amountDetails": {
                            "description": "Contains information pertaining to the subtotal, tip, and surcharge amounts of a Payment",
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "subTotalAmount": {
                                "type": "object",
                                "description": "Sub total amount for the transaction. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "nullable": true,
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 2000,
                                  "currency": "CAD"
                                }
                              },
                              "tipAmount": {
                                "type": "object",
                                "description": "Total tip amount for the transaction. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "nullable": true,
                                "example": {
                                  "amount": 1200,
                                  "currency": "CAD"
                                }
                              },
                              "surchargeAmount": {
                                "nullable": true,
                                "type": "object",
                                "description": "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 16000,
                                  "currency": "CAD"
                                }
                              }
                            }
                          },
                          "convenienceFeeDetails": {
                            "description": "Contains information about a Convenience Fee transaction.",
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "status": {
                                "description": "Indicates the status of the merchant and convenience fee transactions.",
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "COMPLETED_CONVENIENCE_FEE_TRANSACTION",
                                  "PAYMENT_COMPLETED",
                                  "COMPLETED_VOID_TRANSACTION",
                                  "COMPLETED_REFUND_TRANSACTION",
                                  "COMPLETED_MERCHANT_INDEPENDENT_REFUND_TRANSACTION",
                                  "COMPLETED_MERCHANT_REFUND_TRANSACTION",
                                  "COMPLETED_FIRST_VOID_TRANSACTION",
                                  "PAYMENT_CANCELED"
                                ],
                                "example": "COMPLETED_SECOND_PURCHASE_TRANSACTION"
                              },
                              "amount": {
                                "description": "The expected Convenience Fee amount.",
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 16000,
                                  "currency": "CAD"
                                }
                              },
                              "rate": {
                                "description": "The Convenience Fee rate that has been defined on the merchant’s profile.",
                                "type": "number",
                                "format": "decimal"
                              },
                              "feeType": {
                                "description": "The type of Convenience Fee that has been defined on the merchant’s profile.",
                                "type": "string",
                                "enum": [
                                  "FIXED_AMOUNT",
                                  "PERCENTAGE"
                                ]
                              }
                            },
                            "required": [
                              "amount",
                              "rate",
                              "feeType"
                            ]
                          },
                          "customerId": {
                            "nullable": true,
                            "type": "string",
                            "description": "Unique Identification for the Customer",
                            "example": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                            "pattern": "^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$",
                            "minLength": 30,
                            "maxLength": 30
                          },
                          "customerReference": {
                            "nullable": true,
                            "type": "string",
                            "description": "Unique Identification for the Customer. This can be an identifier generated from a merchant-defined identifier.",
                            "example": "911677-212",
                            "minLength": 1,
                            "maxLength": 50
                          },
                          "paymentMethod": {
                            "title": "paymentMethod",
                            "description": "Payment method response object",
                            "type": "object",
                            "properties": {
                              "paymentMethodId": {
                                "type": "string",
                                "description": "Unique Identifier of the payment method.",
                                "pattern": "^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$",
                                "minLength": 30,
                                "maxLength": 30,
                                "example": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                              },
                              "merchantId": {
                                "type": "string",
                                "description": "Thirteen character long identification provided to merchants by Moneris. \n",
                                "minLength": 13,
                                "maxLength": 13,
                                "example": "0123456789101"
                              },
                              "cardholderInformation": {
                                "type": "object",
                                "description": "Information about the holder of the card.",
                                "nullable": true,
                                "properties": {
                                  "cardholderName": {
                                    "type": "string",
                                    "description": "Cardholder name",
                                    "minLength": 1,
                                    "maxLength": 60,
                                    "example": "John Doe"
                                  },
                                  "companyName": {
                                    "type": "string",
                                    "description": "Identifies the associated company name",
                                    "minLength": 1,
                                    "maxLength": 50,
                                    "example": "SP Ltd",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "cardholderName"
                                ]
                              },
                              "contactDetails": {
                                "type": "object",
                                "description": "Contact details",
                                "nullable": true,
                                "properties": {
                                  "phoneNumber": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Phone number.",
                                    "pattern": "^\\+[1-9]\\d{1,14}$",
                                    "minLength": 3,
                                    "maxLength": 16,
                                    "example": "+18663197450"
                                  },
                                  "email": {
                                    "nullable": true,
                                    "type": "string",
                                    "format": "email",
                                    "description": "Contains the customer's email address.\n\nFor standard email protocols, visit: https://www.rfc-editor.org/rfc/rfc5322\n",
                                    "minLength": 1,
                                    "maxLength": 320,
                                    "example": "moneris@moneris.com"
                                  }
                                },
                                "example": {
                                  "phoneNumber": "+18663197450",
                                  "email": "moneris@moneris.com"
                                }
                              },
                              "billingAddress": {
                                "nullable": true,
                                "type": "object",
                                "description": "The postal address including street, town/city, province, and postal code.\nOptionally an unit number can be provided.\n",
                                "properties": {
                                  "unitNumber": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Unit number",
                                    "minLength": 1,
                                    "maxLength": 19,
                                    "example": "123A"
                                  },
                                  "streetNumber": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Street number",
                                    "minLength": 1,
                                    "maxLength": 19,
                                    "example": "3300"
                                  },
                                  "streetName": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Street name",
                                    "minLength": 1,
                                    "maxLength": 100,
                                    "example": "Bloor"
                                  },
                                  "city": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Identifies the city.\n",
                                    "minLength": 1,
                                    "maxLength": 50,
                                    "example": "Toronto"
                                  },
                                  "province": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Province or state ISO 3166-2 code ",
                                    "minLength": 1,
                                    "maxLength": 3,
                                    "format": "iso-3166-2",
                                    "example": "ON"
                                  },
                                  "postalCode": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Postal or zip code",
                                    "minLength": 1,
                                    "maxLength": 30,
                                    "example": "M8X 2X2"
                                  },
                                  "country": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Provides the two letter country code according the ISO 3166-1 alpha-2 standard. \nFor a complete list of country codes, visit: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.\n",
                                    "minLength": 2,
                                    "maxLength": 2,
                                    "example": "CA",
                                    "format": "iso-3166"
                                  }
                                },
                                "example": {
                                  "unitNumber": "123A",
                                  "streetNumber": "3300",
                                  "streetName": "Bloor Street West",
                                  "city": "Toronto",
                                  "province": "ON",
                                  "postalCode": "M8X 2X2",
                                  "country": "CA"
                                }
                              },
                              "paymentMethodInformation": {
                                "title": "Card Payment Method Information",
                                "description": "Details about the card used in the payment method.",
                                "type": "object",
                                "properties": {
                                  "paymentMethodType": {
                                    "type": "string",
                                    "description": "The type of Payment Method being used. It can be:\n  - Card.\n",
                                    "enum": [
                                      "CARD"
                                    ]
                                  },
                                  "paymentMethodSource": {
                                    "type": "string",
                                    "description": "The source of Payment Method being used. It can be:\n  - The Id of a Payment Method already created.\n  - Permanent Token.\n  - Temporary Token.\n  - Card.\n  - E-Wallet.\n",
                                    "enum": [
                                      "CARD",
                                      "TEMPORARY_TOKEN",
                                      "PERMANENT_TOKEN",
                                      "APPLE_PAY_ENCRYPTED",
                                      "APPLE_PAY_DECRYPTED",
                                      "GOOGLE_PAY_ENCRYPTED",
                                      "GOOGLE_PAY_DECRYPTED"
                                    ],
                                    "example": "TEMPORARY_TOKEN"
                                  },
                                  "cardInformation": {
                                    "type": "object",
                                    "description": "Information about the card being used for the transaction",
                                    "properties": {
                                      "bankIdentificationNumber": {
                                        "nullable": true,
                                        "type": "string",
                                        "description": "**BIN**: Bank Identification Number \n\nConsists of the first six to eight digits of the Primary Account Number (PAN) and identifies the relevant payment network and the specific payment issuing institution.\n",
                                        "minLength": 6,
                                        "maxLength": 8,
                                        "example": "123456"
                                      },
                                      "lastFour": {
                                        "nullable": true,
                                        "type": "string",
                                        "description": "Last 4 digits of the card.",
                                        "minLength": 4,
                                        "maxLength": 4,
                                        "example": "1234"
                                      },
                                      "expiryMonth": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Card expiration month. Format must be MM",
                                        "minimum": 1,
                                        "maximum": 12,
                                        "example": 1
                                      },
                                      "expiryYear": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Displays the card expiration year. Accepted format: YYYY",
                                        "minimum": 2022,
                                        "maximum": 9999,
                                        "example": 2023
                                      },
                                      "cardBrand": {
                                        "type": "string",
                                        "description": "Displays the card brand name associated with the card type.",
                                        "enum": [
                                          "MASTERCARD",
                                          "VISA",
                                          "AMERICAN_EXPRESS",
                                          "JCB",
                                          "DISCOVER",
                                          "INTERAC",
                                          "UNIONPAY",
                                          "GIFT_MONERIS",
                                          "GIFT_DATACANDY",
                                          "GIFT_GIVEX",
                                          null
                                        ],
                                        "nullable": true,
                                        "example": "MASTERCARD"
                                      },
                                      "cardType": {
                                        "nullable": true,
                                        "type": "string",
                                        "description": "Specifies the intended card use; i.e. debit or credit.",
                                        "enum": [
                                          "CREDIT",
                                          "DEBIT",
                                          "DOMESTIC_DEBIT",
                                          "PREPAID_RELOADABLE",
                                          "PREPAID_NON_RELOADABLE",
                                          "UNKNOWN",
                                          "GIFT",
                                          "LOYALTY",
                                          "FLEET",
                                          "CORPORATE"
                                        ],
                                        "example": "CREDIT"
                                      },
                                      "cardFingerprint": {
                                        "type": "string",
                                        "description": "Unique card identifier. \n\nFingerprinting randomly assigns identfiers for cards that share the same Primary Account Number (PAN) to easily identify when multiple payments methods are attached to the same underlying card, and assists merchants identify individual customers across various channels; i.e.  loyalty programs.\n",
                                        "maxLength": 255,
                                        "example": "1Q2W3E4r5t6rfwewerwewrrw",
                                        "nullable": true
                                      },
                                      "issuer": {
                                        "type": "string",
                                        "description": "Card issuer.",
                                        "minLength": 1,
                                        "maxLength": 100,
                                        "example": "RBC",
                                        "nullable": true
                                      }
                                    }
                                  },
                                  "paymentAccountReference": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Used to link Primary Account Number (PAN) based transactions and transactions on associated payment tokens without using the PAN as the linking mechanism.\n",
                                    "minLength": 1,
                                    "maxLength": 29,
                                    "example": "11112222333344445555666677778"
                                  },
                                  "storePaymentMethod": {
                                    "description": "Store this payment method created through this payment for future use. \n- DO_NOT_STORE: Payment method will not be stored.\n- CARDHOLDER_INITIATED: Payment method to be stored and can only re-used with cardholder's consent. Limited to store, pre-authorisation, and card validations.\"\n- MERCHANT_INITIATED: Payment method to be stored and can be reused without the cardholder's consent. For example, subscriptions.\n",
                                    "type": "string",
                                    "default": "DO_NOT_STORE",
                                    "enum": [
                                      "DO_NOT_STORE",
                                      "CARDHOLDER_INITIATED",
                                      "MERCHANT_INITIATED"
                                    ]
                                  }
                                },
                                "required": [
                                  "paymentMethodType",
                                  "paymentMethodSource",
                                  "cardInformation",
                                  "storePaymentMethod"
                                ]
                              },
                              "createdAt": {
                                "description": "Time at which the object was created",
                                "type": "string",
                                "format": "date-time",
                                "example": "2019-07-30T06:43:40.252Z"
                              },
                              "modifiedAt": {
                                "nullable": true,
                                "description": "Time at which the object was modified",
                                "type": "string",
                                "format": "date-time",
                                "example": "2019-07-30T06:43:40.252Z"
                              },
                              "customData": {
                                "description": "Merchant can send custom meta data with the transaction in this object. Moneris will echo these values back in response.",
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 50
                                },
                                "maxProperties": 10,
                                "nullable": true
                              }
                            },
                            "required": [
                              "paymentMethodId",
                              "merchantId",
                              "paymentMethodInformation",
                              "createdAt"
                            ]
                          },
                          "paymentStatus": {
                            "type": "string",
                            "description": "Payment Status description.",
                            "enum": [
                              "CANCELED",
                              "DECLINED",
                              "DECLINED_RETRY",
                              "AUTHORIZED",
                              "PROCESSING",
                              "SUCCEEDED",
                              "INCREMENTED",
                              "PARTIALLY_COMPLETED"
                            ],
                            "example": "SUCCEEDED"
                          },
                          "transactionDetails": {
                            "type": "object",
                            "description": "Additional details about the transaction outcome.",
                            "properties": {
                              "transactionUniqueId": {
                                "type": "string",
                                "description": "Realtime transaction identifier from the host.",
                                "nullable": true
                              },
                              "isoResponseCode": {
                                "type": "string",
                                "description": "Represents the Moneris response code for the equivalent International Organization for Standardization (ISO) response code.",
                                "minLength": 2,
                                "maxLength": 2,
                                "example": "00"
                              },
                              "responseCode": {
                                "type": "string",
                                "description": "\"Details Transaction Response Codes:\n- **< 50**: Transaction approved\n- **> 50**: Transaction declined\nNULL: Transaction not sent for authorization\nFor a complete list of definitions, refer to the Response Codes Table\"\n",
                                "minLength": 3,
                                "maxLength": 3,
                                "example": "001"
                              },
                              "authorizationCode": {
                                "type": "string",
                                "maxLength": 8,
                                "nullable": true,
                                "pattern": "^[a-zA-Z0-9]*$",
                                "description": "Contains a value generated by the authorizer for an approved financial transactions. \nThis operates as the authorizing host's transaction identification.\n",
                                "example": "11223344"
                              },
                              "message": {
                                "type": "string",
                                "description": "Displays response description returned from issuing institution.\n\n**NOTE**: This message should not be displayed on any cardholder facing materials.  \n\nFor receipt purposes, please refer to the Receipt Requirements\"\n",
                                "minLength": 1,
                                "maxLength": 100,
                                "example": "SUCCESS",
                                "nullable": true
                              },
                              "ecommerceIndicator": {
                                "type": "string",
                                "description": "The ecommerce indicator (ECI) specifies the level of security that was used to obtain the cardholder's payment data. \nIt is sent by the merchant and returned by the issuer.\nWhen returned in the response, it can be different from the value sent in the request in case transaction was downgraded by the issuer.\n",
                                "enum": [
                                  "MAIL_TELEPHONE_ORDER_SINGLE",
                                  "MAIL_TELEPHONE_ORDER_RECURRING",
                                  "MAIL_TELEPHONE_ORDER_INSTALMENT",
                                  "MAIL_TELEPHONE_ORDER_UNKNOWN",
                                  "AUTHENTICATED_ECOMMERCE",
                                  "NON_AUTHENTICATED_ECOMMERCE",
                                  "SSL_MERCHANT"
                                ],
                                "example": "AUTHENTICATED_ECOMMERCE",
                                "default": "SSL_MERCHANT"
                              }
                            },
                            "required": [
                              "isoResponseCode",
                              "responseCode",
                              "ecommerceIndicator"
                            ]
                          },
                          "verificationDetails": {
                            "description": "Result Codes for CVD, AVS, 3DS",
                            "type": "object",
                            "properties": {
                              "addressVerificationServiceResultCode": {
                                "title": "AVS Result Description",
                                "type": "string",
                                "nullable": true,
                                "description": "Indicates the address verification result. \n",
                                "enum": [
                                  "FULL_MATCH",
                                  "PARTIAL_MATCH",
                                  "NO_MATCH",
                                  "UNAVAILABLE",
                                  null
                                ],
                                "example": "FULL_MATCH"
                              },
                              "cardSecurityCodeResultCode": {
                                "type": "string",
                                "nullable": true,
                                "description": "Indicates the Card Security Code validation result.\n- **MATCH**\n- **NO_MATCH**\n- **NOT_PROCESSED**\n- **CVD_NOT_PRESENT**\n- **NOT_CVD_PRESENT**\n- **AMEX_JCB_MATCH**\n- **AMEX_JCB_INVALID**\n- **OTHER**\"\n",
                                "enum": [
                                  "MATCH",
                                  "NO_MATCH",
                                  "NOT_PROCESSED",
                                  "CVD_NOT_PRESENT",
                                  "NOT_CVD_PARTICIPANT",
                                  "AMEX_JCB_MATCH",
                                  "AMEX_JCB_INVALID",
                                  "OTHER",
                                  null
                                ],
                                "example": "MATCH"
                              },
                              "threeDSecureAuthenticationValueResultCode": {
                                "type": "string",
                                "nullable": true,
                                "description": "The Cardholder Authentication Verification Value (CAVV), the Account holder Authentication Value (AAV), and the American Express Verification Value (AEVV),  are the values that allows Visa, Mastercard and American Express to validate the integrity of the Visa Secure,  Mastercard Identity Check and American Express SafeKey transaction data.  These values are passed back from the issuer to the merchant after the authentication has taken place.  The merchant then integrates the CAVV/AAV/AEVV value into the authorization request using the Payment request with 3-D Secure transaction data.\n",
                                "enum": [
                                  "AMEX_AEVV_FAILED_ATTEMPT_ISSUER_KEY",
                                  "AMEX_AEVV_FAILED_ATTEMPT_ISSUER_NOT_PARTICIPATING_NETWORK_KEY",
                                  "AMEX_AEVV_FAILED_ATTEMPT_PARTICIPATING_NOT_AVAILABLE_NETWORK_KEY",
                                  "AMEX_AEVV_FAILED_AUTHENTICATION_ISSUER_KEY",
                                  "AMEX_AEVV_PASSED_ATTEMPT_ISSUER_KEY",
                                  "AMEX_AEVV_PASSED_ATTEMPT_ISSUER_NOT_PARTICIPATING_NETWORK_KEY",
                                  "AMEX_AEVV_PASSED_ATTEMPT_PARTICIPATING_NOT_AVAILABLE_NETWORK_KEY",
                                  "AMEX_AEVV_PASSED_AUTHENTICATION_ISSUER_KEY",
                                  "AMEX_AEVV_UNCHECKED",
                                  "VISA_CAVV_NOT_PRESENT_OR_NOT_VERIFIED",
                                  "MASTERCARD_AUTHENTICATION_ATTEMPTED",
                                  "MASTERCARD_AUTHENTICATION_FAILED",
                                  "MASTERCARD_AUTHENTICATION_SUCCESSFUL",
                                  "VISA_CAVV_AUTHENTICATION_RESULTS_INVALID",
                                  "VISA_CAVV_FAILED_VALIDATION_ATTEMPTED",
                                  "VISA_CAVV_FAILED_VALIDATION_AUTHENTICATION",
                                  "VISA_CAVV_NOT_VALIDATED_ISSUER_NOT_PARTICIPATING",
                                  "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED",
                                  "VISA_CAVV_PASSED_VALIDATION_AUTHENTICATION",
                                  "VISA_CAVV_PASSED_VALIDATION_INFO_ONLY",
                                  "VISA_CAVV_WAS_NOT_VALIDATED_ATTEMPTED",
                                  "VISA_CAVV_WAS_NOT_VALIDATED_AUTHENTICATION",
                                  null
                                ],
                                "example": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                              }
                            }
                          },
                          "credentialOnFileResponse": {
                            "type": "object",
                            "nullable": true,
                            "description": "Contains fields related to the Credential on File (CoF) ",
                            "properties": {
                              "originalAmount": {
                                "type": "object",
                                "nullable": true,
                                "description": "Original amount for the first transaction in the series. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 15000,
                                  "currency": "CAD"
                                }
                              },
                              "issuerId": {
                                "type": "string",
                                "description": "Displays a unique identifier for the card holder's stored credentials. \n\nThis information is returned from the card brand when processing a Credential on File transaction.\n",
                                "minLength": 1,
                                "maxLength": 15,
                                "example": "A",
                                "nullable": true
                              }
                            }
                          },
                          "multiCurrencyPricingDetails": {
                            "type": "object",
                            "nullable": true,
                            "description": "Exchange rate for use in a subsequent MCP financial transaction",
                            "properties": {
                              "cardholderAmount": {
                                "type": "object",
                                "description": "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 16000,
                                  "currency": "CAD"
                                }
                              },
                              "merchantSettlementAmount": {
                                "description": "The amount that will be paid to the merchant, in settlement currency",
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 16000,
                                  "currency": "CAD"
                                }
                              },
                              "multiCurrencyPricingExchangeRate": {
                                "description": "The foreign exchange rate (foreign currency to CAD) that will be used for the transaction",
                                "type": "number",
                                "format": "decimal",
                                "example": 1.2346
                              }
                            },
                            "required": [
                              "cardholderAmount",
                              "merchantSettlementAmount",
                              "multiCurrencyPricingExchangeRate"
                            ],
                            "example": {
                              "cardholderAmount": {
                                "currency": "USD",
                                "amount": 30000
                              },
                              "multiCurrencyPricingRate": 1.2345
                            }
                          },
                          "refundDetails": {
                            "description": "Refund details if any has occured.",
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "refunds": {
                                "description": "List of Refunds associated with this Payment",
                                "type": "array",
                                "items": {
                                  "description": "Refund reference.",
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "refundId": {
                                      "type": "string",
                                      "pattern": "^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$",
                                      "minLength": 30,
                                      "maxLength": 30,
                                      "description": "Unique Identification for the Refund",
                                      "example": "ri0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                                    },
                                    "href": {
                                      "title": "Refund URI",
                                      "description": "Refund Reference URL",
                                      "type": "string",
                                      "nullable": true,
                                      "format": "uri-reference",
                                      "example": "/refunds/ri0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                                    }
                                  },
                                  "required": [
                                    "refundId"
                                  ]
                                }
                              },
                              "refundedAmount": {
                                "type": "object",
                                "description": "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "minimum": 0,
                                    "maximum": 999999999,
                                    "example": 10000,
                                    "description": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "example": "CAD",
                                    "format": "iso-4217"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "example": {
                                  "amount": 16000,
                                  "currency": "CAD"
                                }
                              }
                            },
                            "required": [
                              "refundedAmount"
                            ]
                          },
                          "subscription": {
                            "description": "Subscription reference, if this transaction is related to a subscription. \n",
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "subscriptionId": {
                                "type": "string",
                                "pattern": "^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$",
                                "minLength": 30,
                                "maxLength": 30,
                                "description": "Unique Identification for the Subscription",
                                "example": "si0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                              },
                              "href": {
                                "nullable": true,
                                "title": "SubscriptionUri",
                                "description": "Subscription Reference URL",
                                "type": "string",
                                "format": "uri-reference",
                                "example": "/subscriptions/rp0105ARZ3NDEKTSV4RRFFQ69G5FAV"
                              }
                            },
                            "required": [
                              "subscriptionId"
                            ]
                          },
                          "installmentPlanDetails": {
                            "type": "object",
                            "description": "Installment plan application results.",
                            "nullable": true,
                            "properties": {
                              "planId": {
                                "type": "string",
                                "description": "Visa-generated identifier for an Installment plan.",
                                "minLength": 36,
                                "maxLength": 36,
                                "example": "130d93f9-8a5d-a78c-4741-14905057ce01"
                              },
                              "planIdReference": {
                                "type": "string",
                                "description": "A Visa-generated, alphanumeric, unique, and short human-readable friendly name for Installment Plan.",
                                "minLength": 10,
                                "maxLength": 10,
                                "example": "0000000063"
                              },
                              "planTermsAndConditionsVersion": {
                                "type": "string",
                                "description": "Installment Plan Terms and Conditions Version. Version of the Terms & Conditions accepted by the consumer. The version is auto-incremented every time an update is made to the Plan by the issuer.",
                                "minLength": 1,
                                "maxLength": 2147483647,
                                "example": "1"
                              },
                              "planAcceptanceId": {
                                "type": "string",
                                "description": "Visa-generated identifier for a plan acceptance.",
                                "minimum": 36,
                                "maximum": 36,
                                "example": "56d58423-ea25-64e0-ddf3-1e1133549801"
                              },
                              "planStatus": {
                                "type": "string",
                                "description": "Status of the Installment Plan.",
                                "enum": [
                                  "ACCEPTED",
                                  "NEW",
                                  "CANCELED"
                                ],
                                "example": "ACCEPTED"
                              },
                              "planProcessingResponseMessage": {
                                "nullable": true,
                                "type": "string",
                                "description": "Installment plan processing response",
                                "minLength": 2,
                                "maxLength": 50
                              }
                            },
                            "required": [
                              "planId",
                              "planIdReference",
                              "planTermsAndConditionsVersion",
                              "planAcceptanceId",
                              "planStatus"
                            ]
                          },
                          "customData": {
                            "description": "Merchant can send custom meta data with the transaction in this object. Moneris will echo these values back in response.",
                            "type": "object",
                            "additionalProperties": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 50
                            },
                            "maxProperties": 10,
                            "nullable": true
                          },
                          "incrementalAuthorizations": {
                            "description": "List of all previous incremental authorizations.",
                            "type": "array",
                            "items": {
                              "description": "Incremental Authorization object containing amount and processedAt time.",
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "object",
                                  "description": "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                  "properties": {
                                    "amount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "minimum": 0,
                                      "maximum": 999999999,
                                      "example": 10000,
                                      "description": "Amount"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                      "minLength": 3,
                                      "maxLength": 4,
                                      "example": "CAD",
                                      "format": "iso-4217"
                                    }
                                  },
                                  "required": [
                                    "amount",
                                    "currency"
                                  ],
                                  "example": {
                                    "amount": 16000,
                                    "currency": "CAD"
                                  }
                                },
                                "processedAt": {
                                  "description": "Time at which the object was processed",
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-07-30T06:43:40.252Z"
                                }
                              },
                              "required": [
                                "amount",
                                "processedAt"
                              ]
                            }
                          },
                          "multipleCompletions": {
                            "description": "List of all Multiple Completion transactions.",
                            "type": "array",
                            "items": {
                              "description": "Multiple Completion object containing amount, processedAt time, and finalCompletion flag",
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "object",
                                  "description": "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n",
                                  "properties": {
                                    "amount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "minimum": 0,
                                      "maximum": 999999999,
                                      "example": 10000,
                                      "description": "Amount"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n",
                                      "minLength": 3,
                                      "maxLength": 4,
                                      "example": "CAD",
                                      "format": "iso-4217"
                                    }
                                  },
                                  "required": [
                                    "amount",
                                    "currency"
                                  ],
                                  "example": {
                                    "amount": 16000,
                                    "currency": "CAD"
                                  }
                                },
                                "processedAt": {
                                  "description": "Time at which the object was processed",
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-07-30T06:43:40.252Z"
                                },
                                "finalCompletion": {
                                  "type": "boolean",
                                  "description": "Indicates whether this is the last Completion request for a Payment. To indicate that additional Completions will be performed, please pass finalCompletion as false."
                                }
                              },
                              "required": [
                                "amount",
                                "processedAt",
                                "finalCompletion"
                              ]
                            }
                          }
                        },
                        "required": [
                          "paymentId",
                          "merchantId",
                          "transactionDateTime",
                          "createdAt",
                          "amount",
                          "authorizedAmount",
                          "capturableAmount",
                          "paymentMethod",
                          "paymentStatus",
                          "transactionDetails",
                          "verificationDetails"
                        ]
                      }
                    },
                    "self": {
                      "description": "Pagination link pointing to the current page.",
                      "type": "string",
                      "format": "uri-reference",
                      "nullable": true
                    },
                    "first": {
                      "description": "Pagination link pointing to the first page.",
                      "type": "string",
                      "format": "uri-reference",
                      "nullable": true
                    },
                    "last": {
                      "description": "Pagination link pointing to the last page.",
                      "type": "string",
                      "format": "uri-reference",
                      "nullable": true
                    },
                    "next": {
                      "description": "Pagination link pointing to the next page.",
                      "type": "string",
                      "format": "uri-reference",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Pagination link pointing to the previous page.",
                      "type": "string",
                      "format": "uri-reference",
                      "nullable": true
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": null,
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodInformation": {
                          "paymentMethodType": "CARD",
                          "paymentMethodSource": "CARD",
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2028,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778",
                          "storePaymentMethod": "DO_NOT_STORE"
                        },
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "SUCCEEDED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": "00",
                        "responseCode": "000",
                        "message": "approved",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "verificationDetails": {
                        "addressVerificationServiceResultCode": "FULL_MATCH",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "credentialOnFileResponse": null,
                      "refundDetails": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAZ",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": null,
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodInformation": {
                          "paymentMethodType": "CARD",
                          "paymentMethodSource": "CARD",
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2028,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778",
                          "storePaymentMethod": "DO_NOT_STORE"
                        },
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "CANCELED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": "00",
                        "responseCode": "000",
                        "message": "approved",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "verificationDetails": {
                        "addressVerificationServiceResultCode": "FULL_MATCH",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "credentialOnFileResponse": null,
                      "refundDetails": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAX",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": null,
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodInformation": {
                          "paymentMethodType": "CARD",
                          "paymentMethodSource": "CARD",
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2028,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778",
                          "storePaymentMethod": "DO_NOT_STORE"
                        },
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "DECLINED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": "43",
                        "responseCode": "421",
                        "message": "Stolen card, pick up.",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "verificationDetails": {
                        "addressVerificationServiceResultCode": "FULL_MATCH",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "credentialOnFileResponse": null,
                      "refundDetails": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    }
                  ],
                  "self": "/payments?cursor=d41d8cd98f00b&limit=50",
                  "first": "/payments?cursor=d41d8cd98f00b&limit=50",
                  "last": "/payments?cursor=d41d8cd98f00b&limit=50",
                  "next": null,
                  "previous": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "headers": {
              "Api-Version": {
                "description": "The endpoint's API Version.",
                "example": "2025-08-14",
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-Id": {
                "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4",
                "description": "Correlates a series of requests within the same flow. \n\nNote: This ID is generated by Moneris with every request or response, if it doesn't exist, and the Merchant is recommended to echo back the value.\"  \n",
                "schema": {
                  "type": "string",
                  "example": "06f1e47b-a1b5-4902-be9c-bccc506127c4"
                }
              },
              "Sunset": {
                "example": "2025-07-30T06:43:40.252Z",
                "description": "Optional.\n\nIndicates that the resource URI will be decommissioned, and put out of service at the specified point in the future. \nMore details are available at [RFC 8594](https://www.rfc-editor.org/rfc/rfc8594.html)\n",
                "schema": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-07-30T06:43:40.252Z"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the client can make in this window.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "example": 1000
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "example": 0
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "Error response details.",
                  "properties": {
                    "type": {
                      "description": "A URI reference that identifies the problem type.  Ideally it should be a stable URL to the documentation of the details about this type of error but it also can be a URN.  If nothing can be provided, a \"about:blank\" value is returned.\n",
                      "type": "string",
                      "format": "uri",
                      "example": "https://api-developer.moneris.com/responsehandling"
                    },
                    "title": {
                      "description": "A short, human-readable summary of the problem type.   It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization\n",
                      "type": "string",
                      "example": "INSUFFICIENT_FUNDS",
                      "nullable": true
                    },
                    "status": {
                      "description": "it conveys the HTTP status code used for the convenience of the consumer.\n",
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 505,
                      "nullable": true
                    },
                    "detail": {
                      "description": "A human-readable message providing more details about the error. For card errors, these messages can be shown to your users.\n",
                      "type": "string",
                      "example": "Funds are insufficient to execute the operation.",
                      "nullable": true
                    },
                    "instance": {
                      "description": "A URI reference that identifies the specific occurrence of the problem. Typically, this resolves to a resource that might include more details about the problem.\n",
                      "type": "string",
                      "example": "/payments/12f3e0a8-1d68-2b86-dd30-4ca51bb66e10",
                      "format": "uri-reference",
                      "nullable": true
                    },
                    "category": {
                      "description": "The type of error returned. \n - `API_ERROR`: This occurs due to an intermittent issue.  \n - `IDEMPOTENCY_ERROR`: The idempotency key has already been used.\n - `INVALID_REQUEST_ERROR`: The data provided in the request is invalid.\n - `DECLINED_ERROR`: Transaction was declined by the issuer.\n - `UNAUTHORIZED_ERROR`: Caller not authenticated, or not allowed to execute the current operation.\n - `INTERNAL_SERVER_ERROR`: An internal issue with our servers has occured.\n",
                      "enum": [
                        "API_ERROR",
                        "IDEMPOTENCY_ERROR",
                        "INVALID_REQUEST_ERROR",
                        "DECLINED_ERROR",
                        "UNAUTHORIZED_ERROR",
                        "INTERNAL_SERVER_ERROR",
                        null
                      ],
                      "type": "string",
                      "nullable": true,
                      "example": "DECLINED_ERROR"
                    },
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors when error category is INVALID_REQUEST_ERROR.",
                      "items": {
                        "type": "object",
                        "title": "Parameter error",
                        "description": "Request property or header related error.",
                        "properties": {
                          "parameterName": {
                            "type": "string",
                            "description": "Property or header name. Can contain nested path separated by '.'",
                            "example": "address.postalCode"
                          },
                          "parameterValue": {
                            "type": "string",
                            "nullable": true,
                            "description": "Property or header value string representation.",
                            "example": "MAP3J8"
                          },
                          "reasonCode": {
                            "type": "string",
                            "description": "Reason that triggered the error.",
                            "enum": [
                              "INVALID_FORMAT",
                              "REQUIRED_FIELD",
                              "INVALID_VALUE"
                            ],
                            "example": "INVALID_FORMAT"
                          },
                          "errorMessage": {
                            "type": "string",
                            "description": "Human readable description of the error.",
                            "nullable": true,
                            "example": "String 'MAP3J8' does not match the postal code pattern."
                          }
                        },
                        "required": [
                          "parameterName",
                          "reasonCode"
                        ]
                      },
                      "example": [
                        {
                          "parameterName": "address.postalCode",
                          "parameterValue": "MAP3J8",
                          "errorMessage": "address.Postal code does not match regular expression",
                          "reasonCode": "INVALID_FORMAT"
                        }
                      ]
                    }
                  },
                  "title": "API Error",
[...]
